<!DOCTYPE html>
<html lang="en">
  <!-- Head section -->
  <%- include('../views/partials/head') %>
  <body>
    <!-- Navbar section -->
    <%- include('../views/partials/navbar') %>
    <h1>Edit Attraction</h1>
  </body>
</html>
