<!DOCTYPE html>
<html lang="en">
  <!-- Head section -->
  <%- include('../views/partials/head', { page: 'Explore NYC Attractions' } ) %>
  <body>
    <!-- Navbar section -->
    <%- include('../views/partials/navbar') %>
    <h1>This is the Homepage for the attractions</h1>
    <!-- footer section -->
    <%- include('../views/partials/footer') %>
  </body>
</html>
