<!DOCTYPE html>
<html lang="en">
  <!-- Head section -->
  <%- include('../views/partials/head', { page: 'Log in' }) %>
  <body>
    <!-- Navbar section -->
    <%- include('../views/partials/navbar') %>
    <h1>Login Page</h1>
    <!-- footer section -->
    <%- include('../views/partials/footer') %>
  </body>
</html>
